<div class="container mt-3">
  <h2>Dropdowns</h2>
  
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Link 1</a></li>
      <li><a class="dropdown-item" href="#">Link 2</a></li>
      <li><a class="dropdown-item" href="#">Link 3</a></li>
    </ul>
  </div>
</div>








<div class="mt-4 ">
  <div class="row">

    {{#each product}}
    <div class="col-xl-3 col-lg-4">
      <div class="card custom" style="width:350px">
        <img class="card-img-top" src="{{this.image}}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{this.name}}</h4>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-primary">Mua Ngay</a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>
